<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title text-center">Make Payment</h4>
            </div>
        </div>
        <div>
            &nbsp;  
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form [formGroup]="paymentForm" (ngSubmit)="payCollection(paymentForm.value)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Credit Card Number</label>
                                <input class="form-control" type="text" formControlName="creditCardNumber" ngModel>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name on Card</label>
                                <input class="form-control" type="text" formControlName="NameOnCard" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Exp Month and Year</label>
                                <input class="form-control" type="month" formControlName="ExpMonthAndYear" ngModel>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>CVV</label>
                                <input class="form-control" type="text" formControlName="CVV" ngModel>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Order Total</label>
                                <div class="cal-icon">
                                    <input type="text" class="form-control datetimepicker" name="Date" ngModel>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tax Total</label>
                                <div class="time-icon">
                                    <input type="text" class="form-control" id="datetimepicker3" name="Time" ngModel>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Grand Total</label>
                                <input class="form-control" type="text" name="Place" ngModel>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Doctor</label>
                                <input class="form-control" type="text" name="Doctor" ngModel>
                            </div>
                        </div> -->
                    <!-- </div> -->
                    <!-- <div class="form-group">
                        <label>Message</label>
                        <textarea cols="30" rows="4" class="form-control"></textarea>
                    </div> -->
                    <!-- <div class="form-group">
                        <label class="display-block">Appointment Status</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="product_active" value="option1" checked>
                            <label class="form-check-label" for="product_active">
                            Active
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="product_inactive" value="option2">
                            <label class="form-check-label" for="product_inactive">
                            Inactive
                            </label>
                        </div>
                    </div> -->
                    <div>   
                        &nbsp;
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" [disabled]="paymentForm.invalid">Payment</button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
